.theme-toggle
  display inline-flex
  align-items center
  margin-left 15px

.switch_default[type=checkbox]
  display none

.switch_default + label
  cursor pointer
  display inline-flex
  align-items center
  justify-content center
  width 20px
  height 20px

.switch_default + label .toggle-icon
  width 16px
  height 16px

.switch_default + label .toggle-icon-sun
  display inline-block
  color $light-font-color
  transition color 0.15s ease

.switch_default + label .toggle-icon-moon
  display none
  color $dark-font-color
  transition color 0.15s ease

.switch_default:checked + label .toggle-icon-sun
  display none

.switch_default:checked + label .toggle-icon-moon
  display inline-block

.switch_default + label:hover .toggle-icon-sun
  color $light-post-link-color

.switch_default + label:hover .toggle-icon-moon
  color $dark-accent-color
