.theme-toggle
  display inline-flex
  align-items center
  margin-left 15px

.switch_default[type=checkbox]
  display none

.switch_default + label
  cursor pointer
  display inline-flex
  align-items center
  justify-content center
  width 20px
  height 20px

.switch_default + label .toggle-icon
  width 16px
  height 16px

.switch_default + label .toggle-icon-sun
  display inline-block
  color #f5a623

.switch_default + label .toggle-icon-moon
  display none
  color $dark-font-color

.switch_default:checked + label .toggle-icon-sun
  display none

.switch_default:checked + label .toggle-icon-moon
  display inline-block
